<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('https://images.unsplash.com/photo-1498595707991-4fc87268b184?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=96a7f4119969210f928058970de835ee&auto=format&fit=crop&w=3289&q=80')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                  <!--
                    <h1></h1>
                    <hr class="small">-->
                    <span class="subheading"> uncommon words in an apathetic world </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">


          <% @articles.each do |article| %>
              <%= link_to article_path(article) do %>

              <div class="row">
                <div class="col-md-4">
                  <div class="col-md-12">
                    <%= image_tag article.image.url(:medium) %>

                  </div>
                </div>
                <div class="col-md-8">
                  <div class="col-md-12">
                    <div class="post-preview">
                      <h2 class="post-title">
                        <%= article.title %>
                      </h2>
                      <h3 class="post-subtitle">
                        <%= article.subtitle %>
                      </h3>

                    </div>
                  </div>
                </div>
              </div>

              <% end %>
              <p class="post-meta">Posted by <a href="#"><%= @article.user.name %></a> <%= @article.created_at.strftime("%B %d, %Y") %>.</p>
              <hr>
          <% end %>


            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="#">Older Posts &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
</div>
