


<header class="intro-header">
  <div class="container-fluid overlay_black">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">




        <div class="site-heading">
          <%= image_tag('resonance_w.png') %>
          <hr>
          <h4>Parsing public sentiment of today's most critical issues.</h4>


        </div>

      </div>
    </div>
  </div>
</header>

<div class="">


  <div class="col-md-8 scroll">
    <h1>Featured Article</h1>
    <hr>

    <div id="show_article">
      <%= render 'articles/highlight', :locals => { :article => @featured }  %>
    </div>

  </div>


  <div class="col-md-4 scroll">

    <h1>Recent Articles</h1>
    <hr>

    <% @articles.reverse.each do |article| %>
        <%= link_to article_path(article), remote: true do %>

            <div class="col-md-4">
              <div class="col-md-12">
                <%= image_tag article.image.url(:medium) %>

              </div>
            </div>
            <div class="col-md-8">
              <div class="col-md-12">
                <div class="post-preview">
                  <h2 class="post-title">
                    <%= article.title %>
                  </h2>
                  <h3 class="post-subtitle">
                    <%= article.subtitle %>
                  </h3>

                </div>
              </div>
            </div>

        <% end %>
        <p class="post-meta">Posted by <a href="#"><%= article.user.name %></a> <%= article.created_at.strftime("%B %d, %Y") %>.</p>
        <hr>
    <% end %>
  </div>


</div>
