




  <!-- Page Header -->
  <!-- Set your background image for this header on the line below. -->
  <header class="intro-header" style="background-image: url(<%= @article.image.url %>)">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="post-heading">
            <div class="heading_well">
              <h1>    <%= @article.title %></h1>
              <h2 class="subheading">    <%= @article.subtitle %></h2>
              <span class="meta">Posted by <a href="#"><%= @article.user.name %></a> <%= @article.created_at.strftime("%B %d, %Y") %>.</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </header>

  <!-- Post Content -->
    <div class="container">
      <div class="row">
        <div class="col-md-8">

          <article>
            <%= @article.body.html_safe %>
          </article>


        </div>
        <div class="col-md-4">

          <% @article.polls.each do |poll| %>

              <div class="well">
                <h4><%= poll.topic %></h4>

                <%= form_tag votes_path, method: :post, id: 'voting_form' do %>
                    <%= hidden_field_tag 'poll[id]', poll.id %>

                    <% if user_signed_in? %>


                        <div class="form-group">


                          <% poll.vote_options.each do |option| %>

                              <% unless current_user.voted_for?(poll) %>
                                  <%= radio_button_tag 'vote_option[id]', option.id %>
                              <% end %>
                              <%= option.title %>

                              <%= visualize_votes_for option %>

                          <% end %>

                        </div>

                    <% else %>

                        <% poll.vote_options.each do |option| %>

                            <%= option.title %>

                            <%= visualize_votes_for option %>

                        <% end %>

                    <% end %>
                    <p><b>Total votes: <%= poll.votes_summary %></b></p>


                    <% if user_signed_in? %>
                        <% if current_user.voted_for?(poll) %>
                            <p>You have already voted!</p>
                        <% else %>
                            <%= submit_tag 'Vote', class: 'btn btn-lg btn-primary' %>
                        <% end %>

                    <% else %>
                        <%= link_to 'Sign up to participate', new_user_registration_path, class: 'btn btn-primary' %>

                    <% end %>

                <% end %>
              </div>




          <% end %>


        </div>
      </div>
    </div>




